body {
	background color: rgb(150, 150, 150);
}

#container4 img {
	padding-left: 10px;
	margin-top: 10px;
}

#container5 h1 {
	top: 0px; 
	float: right;
	padding-right: 10px;
	font-size: 10px;
	margin: -30px 0px 10px 10px;
}

#container6 h1 {
	float: right;
	font-size: 10px;
	margin: -10px 10px 10px 10px;
}

#container1 {
	background-image: url('../Images/title_img.jpg');
	background-size: cover;
	padding: 100px 50px; 
	text-align: center;
	color: black;
	margin: 10px 10px 10px 10px; 
	font-size: 10px;
}

#container1 h1 {
	font-size: 26px;
	font-family: 'Roboto', sans-serif;

}
#container2 {
	padding-left: 75px;
	padding-right: 75px;
	font-family: 'Open Sans', sans-serif;
}


.verga {
	display: block;
	margin: 5px;
}

.card {
	padding: 20px;
	text-align: center;
}

h2 {
	text-align: center;
	margin: 40px 0px 20px 0px;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
}


